<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mercandalli.core">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <service
            android:name=".schedule.SchedulerService"
            android:exported="false" />

        <receiver android:name=".schedule.ScheduleReceiver" />

    </application>

</manifest>
